// Define variables for your color scheme

// For example:
$red: #a84c3d;
$blue: #0D6EFD;
$yellow: #edb846;
$orange: #f17140;
$green: #63a46c;
$gray: #0E0000;
$light-gray: #F4F4F4;
$beige: #faf1e3;
$sage: #588f87
